  .rectangle {
    height: 120px;
    width: 100%;
    background-color: #d6c7ff;
    text-align: center;
  }

  .rectangle h1 {
    font-weight: bold;
    color: black;
    font-size: xx-large;
    padding-top: 30px;
  }

  .anxiety{
    display: flex;
    margin-top: 50px;
    font-weight: bold;
  }

  .anxiety .images {
    flex-basis: 30%;
    padding-left: 150px;
    text-align: center;
  }

  .anxiety .penjelasan {
    flex-basis: 70%;
    padding: 50px 100px 0px 20px;
    align-items: center;
  }

  .mood{
    display: flex;
    margin-top: 50px;
    font-weight: bold;
  }

  .mood .images {
    flex-basis: 30%;
    padding-left: 150px;
    text-align: center;
  }

  .mood .penjelasan {
    flex-basis: 70%;
    padding: 50px 100px 0px 20px;
    align-items: center;
  }

  .obsesive{
    display: flex;
    margin-top: 50px;
    font-weight: bold;
  }

  .obsesive .images {
    flex-basis: 30%;
    padding-left: 150px;
    text-align: center;
  }

  .obsesive .penjelasan {
    flex-basis: 70%;
    padding: 50px 100px 0px 20px;
    align-items: center;
  }

  .psikotic{
    display: flex;
    margin-top: 50px;
    margin-bottom: 100px;
    font-weight: bold;
  }

  .psikotic .images {
    flex-basis: 30%;
    padding-left: 150px;
    text-align: center;
  }

  .psikotic .penjelasan {
    flex-basis: 70%;
    padding: 50px 100px 0px 20px;
    align-items: center;
  }

/* footer */
.bgded {
	background-image:url('../img/coba1.png');
	display: flex;
	padding: 35px;
}

.kontak {
	flex-basis: 50%;
	padding-left: 50px;
}

.kontak p {
	color: #fff;
	font-size: larger;
}

.kontak img {
	height: 50px;
	padding-left: 5px;
}

.tentang {
	flex-basis: 50%;
	padding-left: 300px;
}

.tentang a {
	text-decoration: none;
	color: white;
	font-size: larger
}

.tentang ul {
	line-height: 200%;
}

.tentang ul li {
	list-style-type: none;
}

.footer-caption {
	text-align: center;
	padding: 5px;
	background-color: white;
}