
        .hero{
            margin-top: -410px;
            margin-right: 160px;
            width: 450px;
            height: 300px;
            float: right;
        }
        .link{
           margin-left: 10px;
           margin-top: 8px;
        }
        .link a{
            text-decoration: none;
            color:#2F099A;
        }
        
        .kolom{ 
            background-color: #AD86BF;
            border-radius: 30px;
            
        }
        .konten{
            height: 400px;
            background-color: white;
        }
        .test{
            margin-left: 45px;
          
        }
        .test1{
            margin-left: 16px;
        }

/* footer */
.bgded {
	background-image:url('../img/coba1.png');
	display: flex;
	padding: 35px;
}

.kontak {
	flex-basis: 50%;
	padding-left: 50px;
}

.kontak p {
	color: #fff;
	font-size: larger;
}

.kontak img {
	height: 50px;
	padding-left: 5px;
}

.tentang {
	flex-basis: 50%;
	padding-left: 300px;
}

.tentang a {
	text-decoration: none;
	color: white;
	font-size: larger
}

.tentang ul {
	line-height: 200%;
}

.tentang ul li {
	list-style-type: none;
}

.footer-caption {
	text-align: center;
	padding: 5px;
	background-color: white;
}