.main-nav {
    background-color: #fff;
    z-index: 1;
    border-bottom: 1px solid #2F099A;
	font-family:Verdana, Geneva, Tahoma, sans-serif;

}

.main-nav .navbar-nav a.nav-link {
    color: #2F099A;
    font-weight: 600;
	margin-right: 40px;
}
.main-nav .navbar-nav .nav-link.active, .main-nav .navbar-nav .nav-link:hover {
    color: #E512A9;
}

.navbar img, main-logo {
    max-width: 100px;
	height: 60px;
	margin-left: 50px;
}

.banner {
	background-size: cover;
	background-position: center;
}

.main-kuy h2 {
	font-size: 100px;
	justify-content: center;
	padding-top: 300px;
}

element.style {
	background: #fff;
}

.padding-20{
	color: #2F099A;
	position: 97,173;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-align: left;
	color: #2F099A;
	margin-top: 100px;
}

.btn-info{
	color: #2F099A;
}


/* footer */
.bgded {
	background-image:url('../img/coba1.png');
	display: flex;
	padding: 35px;
}

.kontak {
	flex-basis: 50%;
	padding-left: 50px;
}

.kontak p {
	color: #fff;
	font-size: larger;
}

.kontak img {
	height: 50px;
	padding-left: 5px;
}

.tentang {
	flex-basis: 50%;
	padding-left: 300px;
}

.tentang a {
	text-decoration: none;
	color: white;
	font-size: larger
}

.tentang ul {
	line-height: 200%;
}

.tentang ul li {
	list-style-type: none;
}

.footer-caption {
	text-align: center;
	padding: 5px;
	background-color: white;
}

.gambar {
	margin-bottom: 100px;
	margin-top: 40px;
}

